* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
    background-color: white;
    font-family: "Fredoka", sans-serif;
}

body {
    height: 100%;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

h2 {
    margin: 4% 0;
    color: #E53170;
    font-weight: 600;
    font-size: 40px;
}

p{
    font-size: 30px;
}

.container {
    color: white;
    margin-top: 3%;
}



.card {
    background-color: #0F0E17;
    float: left;
    width: calc(100% / 3 - 40px);
    height: 100px;
    margin: 20px 20px;
    text-align: left;
}

.card img {
    float: left;
    height: 100%;
    margin-right: 15px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.email {
    color: #68CBF2;
}

.nomi{
    margin-top: 5px;
    line-height: 180%;
}

h3 {
    text-transform: uppercase;
}